<!DOCTYPE html>
<head>
<!--
<style>
    div.gallery {
      margin: 5px;
      border: 1px solid #ccc;
      float: left;
      width: 180px;
    }
    
    div.gallery:hover {
      border: 1px solid #777;
    }
    
    div.gallery img {
      width: 100%;
      height: auto;
    }
    
    div.desc {
      padding: 15px;
      text-align: center;
    }
    </style> 
-->

  <style>
    .datePopup {
      position: fixed;
      right:0;
      top:95%;
      min-height:100px;
      min-width:300px;
      font-size: 25px;
    }
  </style>
  <style>
    .div-imageGal {
      width:100%;
      min-height: 500px;
    };
  </style>
  <style>
    .widgetContent {
      min-height:500px;
      min-width:500px;
      max-width: 500px;
      max-height: 500px;
      display: inline-flex;
      justify-content: center;
    }
  </style>
  <style>
    .imageRules{
      object-fit: contain;
      max-width: 500px;
      max-height: 500px;
    }
  </style>
    <div id="console"></div>
    <div class="buttonIn" style="line-height:1.8">
      <form method="post" enctype="multipart/form-data">
        <input type="text" name=shit style= "float: left; width: 200px;" id="command" placeholder="Command Here">
        <input type="submit">
        <br>
        <textarea id="ServerStatus" readonly="readonly" rows="1" cols="10">{{serverStatus}}</textarea>
        <textarea id="ServerCommandResult" readonly="readonly" rows="1" cols="100">{{serverResponse}}</textarea>
    </div>
    <br>
    </head>
    <!--<form method="uploadimage"  enctype="multipart/form-data"> -->
    <body>
    <div id="dateShower" class="datePopup"></div>
    <div class="div-imageGal" id="imageGal"></div>
      <script type="text/javascript">

      var container = document.getElementById('imageGal');

      class listener{
          constructor(image_array,container,dateShower){
            this.image_array=image_array;
            this.container=container;
            this.dateShower=dateShower;
            this.previousEndIdx=NaN;
            this.previousStartIdx=NaN;
            this.scrollSpeedValue=0;
            this.prior=Math.abs(this.container.getBoundingClientRect().top);
          };
          changeArr(image_array){
            this.image_array=image_array;
          };
          makeListener(){
            var timer = null;
              //credit for timer method: https://stackoverflow.com/questions/4620906/how-do-i-know-when-ive-stopped-scrolling
            window.addEventListener('scroll', ()=>{
              let dateImgIdx=Math.floor((-this.container.getBoundingClientRect().top+(window.innerHeight/2))/503.6)*Math.floor(this.container.offsetWidth/500);
              let date=String(this.image_array[dateImgIdx]).split('\\');
              this.dateShower.innerHTML=String(date[date.length-4])+"-"+String(date[date.length-3]+"-"+String(date[date.length-2]));
              if(timer !== null) {
                  clearTimeout(timer);
              }
              timer = setTimeout(() => {
                //here 1000 is the additional buffer we want for images (500 for each row), 503.6 is considering the padding which SHOULD NOT EXIST!
                var startIdx=Math.max(0, Math.floor((-this.container.getBoundingClientRect().top-1000)/503.6)*Math.floor(this.container.offsetWidth/500));
                var endIdx=Math.floor((-this.container.getBoundingClientRect().top+window.innerHeight+1000)/503.6)*Math.floor(this.container.offsetWidth/500);
                //this means this is the first time we are rendering
                if(this.previousEndIdx==NaN || this.previousStartIdx==NaN){}
                else{
                  //this means we moved down
                  if(startIdx>this.previousStartIdx){
                    //if we moved down far enough to surpass the previous' end of render index, we remove all previously rendered content.
                    if(startIdx>this.previousEndIdx){
                      for(let k = this.previousStartIdx; k<=this.previousEndIdx; k++){
                        unloadImage(k);
                      };
                    }
                    //this means we moved down but not far enough to clear the previous endIdx
                    else{
                      for(let k = this.previousStartIdx; k<startIdx; k++){
                        unloadImage(k);
                      };
                    };
                  }
                  //this means we scrolled up
                  else if(startIdx<this.previousStartIdx){
                    //this means we scrolled so far we suprassed the previous' render
                    if(endIdx<this.previousStartIdx){
                      for(let k = this.previousStartIdx; k<=this.previousEndIdx; k++){
                        unloadImage(k);
                      };
                    }
                    //else this means we scrolled up, but not enough to clear the previous render.
                    else{
                      for(let k = endIdx+1; k <= this.previousEndIdx; k++){
                        unloadImage(k);
                      }
                    }

                  }
                  //this means we did not move enough to change anything
                  else{};
                };
                if(this.container.childElementCount<=endIdx){endIdx=this.container.childElementCount-1;};
                if(this.scrollSpeedValue<=100){
                  for(let i=startIdx; i<=endIdx; i++){
                    loadImage(this.image_array[i],i);
                  };
                };
                this.previousStartIdx=startIdx;
                this.previousEndIdx=endIdx;
                }, 10);
            }, false);
          };

        scrollSpeed(){
          let currentPos=Math.abs(this.container.getBoundingClientRect().top);
          this.scrollSpeedValue=Math.abs(currentPos-this.prior);
          this.prior=currentPos;
        };
        //end of class
      };

        var listenerObject = new listener([],container,document.getElementById('dateShower'));
        listenerObject.makeListener();
        window.setInterval(()=>listenerObject.scrollSpeed(),2);

        const console=document.getElementById('console');
        log=document.createElement('div');
        console.append(log)

        unloadImage=async function(idx){
          imageGal=document.getElementById('imageGal');
          let imageContainer=(imageGal.children)[idx];
          delete(imageContainer.removeChild(imageContainer.firstChild));
        };

        //function for loading an image, passing date of image and idx for child div.
        loadImage=async function(date,childIdx){
            imageGal=document.getElementById('imageGal');
            let imageContainer=(imageGal.children)[childIdx];
            needContent=function(imageContainer){
              try{
                if(imageContainer.childNodes.length != 0){return false;}
                else{return true;};
              }catch{
                setTimeout(function(){
                    {return needContent(imageContainer);}
                }, 10);
              }
            }
            if(!needContent(imageContainer)){return;};
            date=String(date);
            date=date.replace(',',"");
            if( date.split('.')[1].toUpperCase() === 'MP4'){
                  source=document.createElement('source');
                  source.type="video/mp4";
                  source.src="{{url_for('imageShake',filename='ADDSTRING')}}".replace('ADDSTRING', date);
                  vid=document.createElement('video');
                  vid.classList.add("imageRules");
                  vid.rotate="90";
                  vid.controls=true;
                  vid.id='content';
                  vid.appendChild(source);
                  imageContainer.appendChild(vid);
            }else{
                  img=document.createElement('img');
                  img.classList.add("imageRules");
                  img.id='content';
                  img.src = "{{url_for('imageShake',filename='ADDSTRING')}}".replace('ADDSTRING', date);
                  imageContainer.appendChild(img);
                };
        };

        //When window is loaded, run the get function to get images and continue loading
        window.onload=async function(){

          let image_array=[];

          await fetch("{{ url_for('getArr') }}")
          .then(response => response.json()).then(data => {
          image_array = data.imageLocs;
          });

          //log=document.createElement('div');
          //log.innerHTML=typeof image_array;
          //console.appendChild(log);

          listenerObject.changeArr(image_array);

          for(image of image_array){

            imageContainer=document.createElement('div');
            imageContainer.className="widgetContent";
            imageContainer.id=image;

            image=imageContainer.id.replace(',','');

            container.appendChild(imageContainer);

          };

          numPerRow=Math.floor(document.getElementById('imageGal').offsetWidth/500);
          numPerColm=Math.ceil(window.screen.height/500);

          //preload the first few images that the user can see.
          for(let i=0; i<numPerColm*numPerRow; i++){

            if(i>image_array.length){
                break;
            };

            loadImage(image_array[i],i);

          };

        };

      </script>
      <noscript>Sorry, your browser does not support JavaScript!</noscript>
    </body>
  </form>